.row {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center-all {
  justify-content: center;
}

.justify-between,
.justify-center-all,
.justify-evenly,
.align-center {
  align-items: center;
}

.col-100 {
  width: 100%;
}

.col-50 {
  width: 50%;
}
